.toc {
  --toc-padding: 16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.03);
  border-radius: var(--border-radius);
  font-weight: 500;
  line-height: 1.4;
  backdrop-filter: var(--filter-blur-bg);
  box-shadow: var(--box-shadows-sm);
  z-index: 1;
}

.tocTitle {
  width: 100%;
  user-select: none;
  font-weight: bold;
  margin: 0 0 10;
  line-height: 1;
  cursor: pointer;
  transition: color 300ms ease;
  padding: var(--toc-padding);
}

.tocTitle:hover,
.tocTitle:focus-within {
  color: var(--color-primary-color-light);
}

.tocList {
  padding: 0 var(--toc-padding) var(--toc-padding) var(--toc-padding);
  line-height: 1.6;
}

.tocLink {
  --toc-link-base-margin-left: 0.7em;
  display: block;
  transition: color 300ms ease;
}

.tocLink:hover,
.tocLink:focus-within {
  color: var(--color-primary-color-light);
}

.tocLinkInner {
  display: block;
  border-bottom: 1px solid var(--color-border);
  padding: 3px 0;
}

.tocLinkInner::before {
  content: '-';
  margin-right: 8px;
  color: #cacae7;
}

.tocLink[data-heading-type='h3'] {
  padding-left: var(--toc-link-base-margin-left);
}

.tocLink[data-heading-type='h4'] {
  padding-left: calc(var(--toc-link-base-margin-left) * 2);
}
