:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --font-inter: '__Inter_0ec1f4', '__Inter_Fallback_0ec1f4';
  --color-primary-color: #2a5298;
  --color-primary-color-light: #2b79d5;
  --color-text-main: #333;
  --color-text-sub: #999;
  --color-code-text: #abb2bf;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #282c34;
  --color-border-dark: #ccc;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --border-radius: 4px;
  --box-shadows-xs: 0 2px 8px 1px rgb(0 0 0 / 0.07), 0 1px 1px -1px rgb(0 0 0 / 0.04);
  --box-shadows-sm: 0 2px 8px 2px rgb(0 0 0 / 0.07), 0 2px 4px -1px rgb(0 0 0 / 0.04);
  --box-shadows-md: 0 12px 20px 6px rgb(0 0 0 / 0.08);
  --box-shadows-lg: 0 12px 34px 6px rgb(0 0 0 / 0.18);
  --box-shadows-xl: 0 25px 65px 0px rgb(0 0 0 / 0.35);
  --backdrop-filter-blur-bg: saturate(180%) blur(14px);
  --gradient-primary-blue: linear-gradient(
    60deg,
    var(--color-primary-color) -20%,
    var(--color-primary-color-light) 50%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', YuGothic, 'ヒラギノ角ゴ ProN W3',
    Hiragino Kaku Gothic ProN, Arial, 'メイリオ', Meiryo, sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
}

code {
  font-family: var(--font-inter);
  color: var(--color-code-text);
}

a {
  color: inherit;
  text-decoration: none;
  word-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  user-select: none;
  pointer-events: none;
}
