.footer {
  padding: 72px 24px 24px;
  text-align: center;
  color: var(--color-text-sub);
  font-size: 0.9rem;
}

.cr {
  margin-top: 2rem;
}

@media (max-width: 640px) {
  .footer {
    padding: 48px 24px 24px;
  }
}
